<div id="home_users_view_container">
<div class="row">
	<div class="col-xs-12">
		<dir-page-header tab-name="tabName" tab-desc="tabDesc"></dir-page-header>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div style="display: table; margin: 15px 0; width: 100%;">
			<div style="display: table-row;">
				<div class="table-cell" style="width: 20%;">
					<form class="form-horizontal" name="formSearch" ng-submit="searchFormSubmit()" novalidate>
						<div class="form-group">
							<h5><strong>Search Criteria</strong></h5>
						</div>
						<div class="form-group">
							<label for="uname">Name</label>
							<div>
								<input
									type="text"
									class="form-control input-sm"
									id="uname"
									name="uname"
									placeholder="Name"
									ng-model="usersViewSbmtData.unameModel" />
							</div>
						</div>
						<div class="form-group" ng-if="usersViewRESTData.uCategoryAr.length">
							<label for="ucategory">User Category</label>
							<div>
								<select
									class="form-control input-sm"
									id="ucategory"
									name="ucategory"
									ng-model="usersViewSbmtData.ucategoryModel"
									ng-options="ucategory.code as ucategory.name for ucategory in usersViewRESTData.uCategoryAr">
									<option value="">Select</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="fdate">From Date</label>
							<div>
								<input
									type="text"
									class="form-control input-sm"
									id="fdate"
									name="fdate"
									placeholder="From Date"
									ng-model="usersViewSbmtData.fdateModel"
									datetimepicker
									datetimepicker-options="{{ dateTimePickerConf }}" />
							</div>
						</div>
						<div class="form-group">
							<label for="tdate">To Date</label>
							<div>
								<input
									type="text"
									class="form-control input-sm"
									id="tdate"
									name="tdate"
									ng-model="usersViewSbmtData.tdateModel"
									placeholder="To Date"
									datetimepicker
									datetimepicker-options="{{ dateTimePickerConf }}" />
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-sm">Search</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="reset()">Reset</button>
						</div>
					</form>
				</div>
				<div class="table-cell" style="width: 80%;">
					<h2 class="lead text-center font-light text-muted lead-md" style="opacity: 0.5;" ng-if="infoObj.msg">
						{{ infoObj.msg }}
					</h2>
					<div ng-if="!infoObj.msg">
					<dir-alert alert-type="msgObj.name" alert-msg="msgObj.msg" ng-if="msgObj.msg"></dir-alert>
					<div class="row" style="margin: auto;">
						<dir-pagination-header
							noof-pages="noofPages"
							current-page="currentPage"
							table-search="tableSearch">
						</dir-pagination-header>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>S.No</th>
										<th
											class="cursor-pointer"
											ng-repeat="thead in theadAr"
											ng-click="sortColumn(thead.code)">
											{{ thead.name }}
											<span
												class="glyphicon glyphicon-triangle-top pull-right"
												ng-if="(orderBy === thead.code) && orderByDir">
											</span>
											<span
												class="glyphicon glyphicon-triangle-bottom pull-right"
												ng-if="(orderBy === thead.code) && !orderByDir">
											</span>
										</th>
										<th class="text-center">Options</th>
									</tr>
								</thead>
								<tbody>
									<tr
										dir-paginate="tbody in tbodyAr | orderBy: orderBy : orderByDir | filter: tableSearch | itemsPerPage: noofPages"
										current-page="currentPage"
										pagination-id="usersViewPagination">
										<th scope="row">{{ ((noofPages * (currentPage - 1)) + ($index + 1)) }}</th>
										<td>
											<button
												type="button"
												class="btn btn-link"
												style="padding: 0;"
												ng-click="viewUserDetails(tbody.id)">
												{{ tbody.name }}
											</button>
										</td>
										<td>{{ tbody.username }}</td>
										<td>{{ tbody.ucategory }}</td>
										<td>{{ tbody.mobileNo }}</td>
										<td>{{ tbody.emailID }}</td>
										<td>
											<dir-epoch-to-date input-data="tbody.createdOn"></dir-epoch-to-date>
										</td>
										<td class="text-center">
											<button
												type="button"
												class="btn btn-link"
												style="padding: 0;"
												ng-click="updateUserDetails(tbody.id)">
												<span class="glyphicon glyphicon-edit"></span>
											</button>
											<button
												type="button"
												class="btn btn-link"
												style="padding: 0;"
												tooltip-placement="top-right"
												uib-tooltip="Block User"
												ng-if="!tbody.isBlocked"
												ng-click="blockUser(tbody)">
												<span class="glyphicon glyphicon-ban-circle text-danger"></span>
											</button>
											<button
												type="button"
												class="btn btn-link"
												style="padding: 0;"
												tooltip-placement="top-right"
												uib-tooltip="Unblock User"
												ng-if="tbody.isBlocked"
												ng-click="unblockUser(tbody)">
												<span class="glyphicon glyphicon-ok-circle text-success"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center">
							<dir-pagination-controls
								boundary-links="true"
								on-page-change="pageChangeHandler(newPageNumber)"
								pagination-id="usersViewPagination">
							</dir-pagination-controls>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
</div>