<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h3>{{ tabName }} <small class="hidden-xs">{{ tabDesc }}</small></h3>
		</div>
	</div>
</div>

<form name="userUpdateForm" ng-submit="(userUpdateForm.$valid && userUpdateFormSubmit())" novalidate>
<div class="row">
	<div class="col-xs-12">
		<h5 class="lead text-center font-light lead-md text-muted">Personal Details</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr class="no-margin" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div style="display: table; margin: 15px 0; width: 100%;">
			<div style="display: table-row;">
				<div class="table-cell" style="width: 33%;">
					<div class="form-group">
						<label for="ucategory">User Category</label>
						<div ng-class="{ 'has-error': (userCreateForm.$submitted && userCreateForm.ucategory.$invalid) }">
							<select
								class="form-control input-sm"
								id="ucategory"
								name="ucategory"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.userCategoryModel"
								ng-options="ucategory.userSubcategoryID as ucategory.userSubcategory group by ucategory.userCategory for ucategory in userUpdateRESTData.userCategoriesAr"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="dob">Date of Birth</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.dob.$invalid) }">
							<input
								type="text"
								class="form-control input-sm"
								id="dob"
								name="dob"
								maxlength="10"
								placeholder="DD-MM-YYYY"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.dobModel"
								ng-required="true"
								datetimepicker
								datetimepicker-options="{{ datetimepickerOptions }}" />
						</div>
					</div>
					<div class="form-group" ng-if="userUpdateFormData.isMorePersonalDetails">
						<label for="pob">Place of Birth<em class="text-muted"> - Optional</em></label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.pob.$invalid) }">
							<input
								type="text"
								class="form-control input-sm"
								id="pob"
								name="pob"
								maxlength="20"
								placeholder="Place of Birth"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.placeOfBirthModel"
								ng-pattern="/^[a-zA-Z0-9\ ]*$/" />
						</div>
					</div>
					<div class="form-group" ng-if="userUpdateFormData.isMorePersonalDetails">
						<label for="gender">Gender<em class="text-muted"> - Optional</em></label>
						<div>
							<select
								class="form-control input-sm"
								id="gender"
								name="gender"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.genderModel"
								ng-options="gender.id as gender.name for gender in userUpdateRESTData.genderAr">
								<option value="">Select</option>
							</select>
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 34%;">
					<div class="form-group">
						<label for="fname">First Name</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.fname.$invalid) }">
							<input
								type="text"
								class="form-control input-sm"
								id="fname"
								name="fname"
								maxlength="20"
								placeholder="First Name"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.firstNameModel"
								ng-pattern="/^[a-zA-Z0-9\ ]*$/"
								ng-required="true" />
						</div>
					</div>
					<div class="form-group">
						<label for="mobileno">Mobile No</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.mobileno.$invalid) }">
							<input
								type="number"
								class="form-control input-sm"
								id="mobileno"
								name="mobileno"
								placeholder="Ex: 9XX6XX3XX0"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.mobileNoModel"
								ng-pattern="/^[0-9]{10,10}$/"
								ng-required="true" />
						</div>
					</div>
					<div class="form-group" ng-if="userUpdateFormData.isMorePersonalDetails">
						<label for="altmobileno">Alt Mobile No<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="number"
								class="form-control input-sm"
								id="altmobileno"
								name="altmobileno"
								placeholder="Ex: 9XX6XX3XX0"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.altMobileNoModel" />
						</div>
					</div>
					<div class="form-group" ng-if="userUpdateFormData.isMorePersonalDetails">
						<label for="maritalstatus">Marital Status<em class="text-muted"> - Optional</em></label>
						<div>
							<select
								class="form-control input-sm"
								id="maritalstatus"
								name="maritalstatus"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.maritalStatusModel"
								ng-options="maritalstatus.id as maritalstatus.name for maritalstatus in userUpdateRESTData.maritalStatusAr">
								<option value="">Select</option>
							</select>
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 33%;">
					<div class="form-group">
						<label for="lname">Last Name (Surname)</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.lname.$invalid) }">
							<input
								type="text"
								class="form-control input-sm"
								id="lname"
								name="lname"
								maxlength="20"
								placeholder="Last Name"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.lastNameModel"
								ng-pattern="/^[a-zA-Z0-9\ ]*$/"
								ng-required="true" />
						</div>
					</div>
					<div class="form-group">
						<label for="emailid">Email ID</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.emailid.$invalid) }">
							<input
								type="email"
								class="form-control input-sm"
								id="emailid"
								name="emailid"
								placeholder="Ex: user@domain.extension"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.emailIDModel"
								ng-required="true" />
						</div>
					</div>
					<div class="form-group" ng-if="userUpdateFormData.isMorePersonalDetails">
						<label for="altemailid">Alt Email ID<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="email"
								class="form-control input-sm"
								id="altemailid"
								name="altemailid"
								placeholder="Ex: user@domain.extension"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.altEmailIDModel" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
<div class="row">
	<div class="col-xs-12">
		<button
			type="button"
			class="btn btn-link"
			style="margin-top: -20px;"
			ng-click="userUpdateFormData.isMorePersonalDetails = !userUpdateFormData.isMorePersonalDetails">
			<span class="lead font-light" ng-if="!userUpdateFormData.isMorePersonalDetails">More</span>
			<span class="lead font-light" ng-if="userUpdateFormData.isMorePersonalDetails">Less</span>
		</button>
	</div>
</div>
<div class="row margin-bottom">
	<div class="col-xs-12">
		<hr class="no-margin" />
	</div>
</div>
<div ng-if="filterData(userUpdateRESTData.userCategoriesAr, 'userSubcategoryID', userUpdateSbmtData.userCategoryModel)[0].userCategoryID !== 4">
<div class="row">
	<div class="col-xs-2">
		<button
			type="button"
			class="btn btn-link"
			ng-click="userUpdateFormData.areEmployeeDetails = !userUpdateFormData.areEmployeeDetails">
			<span class="lead font-light" ng-if="!userUpdateFormData.areEmployeeDetails">Show</span>
			<span class="lead font-light" ng-if="userUpdateFormData.areEmployeeDetails">Hide</span>
		</button>
	</div>
	<div class="col-xs-8">
		<h5 class="lead text-center font-light lead-md text-muted" style="margin-top: 0;">Employee Details</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr class="no-margin" />
	</div>
</div>
<div class="row" ng-if="userUpdateFormData.areEmployeeDetails">
	<div class="col-xs-12">
		<div style="display: table; margin: 15px 0; width: 100%;">
			<div style="display: table-row;">
				<div class="table-cell" style="width: 33%;">
					<div class="form-group">
						<label for="salary">Salary (per Annum)<em class="text-muted"> - Optional</em></label>
						<div ng-class="{ 'has-error': (userCreateForm.$submitted && userCreateForm.salary.$invalid) }">
							<input
								type="number"
								class="form-control input-sm"
								id="salary"
								name="salary"
								min="0"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.salaryModel" />
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 34%;">
					<div class="form-group">
						<label for="leavebalance">Leave Balance<em class="text-muted"> - Optional</em></label>
						<div ng-class="{ 'has-error': (userCreateForm.$submitted && userCreateForm.leavebalance.$invalid) }">
							<input
								type="number"
								class="form-control input-sm"
								id="leavebalance"
								name="leavebalance"
								min="0"
								step="1"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.leaveBalanceModel" />
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 33%;">
					<div class="form-group">
						<label for="extrahoursworked">Extra Hours Worked<em class="text-muted"> - Optional</em></label>
						<div ng-class="{ 'has-error': (userCreateForm.$submitted && userCreateForm.extrahoursworked.$invalid) }">
							<input
								type="number"
								class="form-control input-sm"
								id="extrahoursworked"
								name="extrahoursworked"
								min="0"
								step="1"
								style="width: 80%;"
								ng-model="userUpdateSbmtData.extraHoursWorkedModel" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
<div class="row margin-bottom" ng-if="userUpdateFormData.areEmployeeDetails">
	<div class="col-xs-12">
		<hr class="no-margin" />
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-5 text-center">
		<h5 class="lead font-light lead-md text-muted">Present Address</h5>
	</div>
	<div class="col-xs-2 text-center">
		<h5 class="lead font-light lead-md">
			<button
				type="button"
				class="btn btn-link"
				ng-click="addressMapping()"
				tooltip-placement="top"
				uib-tooltip="Copy Address">
				<span class="glyphicon glyphicon-arrow-right"></span>
			</button>
		</h5>
	</div>
	<div class="col-xs-5 text-center">
		<h5 class="lead font-light lead-md text-muted">Permanent Address</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<hr class="no-margin" />
	</div>
	<div class="col-xs-6">
		<hr class="no-margin" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div style="display: table; margin: 15px 0; width: 100%;">
			<div style="display: table-row;">
				<div class="table-cell" style="width: 25%;">
					<div class="form-group">
						<label for="presentaddline1">Address Line1</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.presentaddline1.$invalid) }">
							<textarea
								class="form-control input-sm max-width"
								id="presentaddline1"
								name="presentaddline1"
								placeholder="Address Line1"
								ng-model="userUpdateSbmtData.presentAddLine1Model"
								ng-required="true">
							</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="presentaddline2">Address Line2<em class="text-muted"> - Optional</em></label>
						<div>
							<textarea
								class="form-control input-sm max-width"
								id="presentaddline2"
								name="presentaddline2"
								placeholder="Address Line2"
								ng-model="userUpdateSbmtData.presentAddLine2Model"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="presentaddlandmark">Landmark<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="text"
								class="form-control input-sm"
								id="presentaddlandmark"
								name="presentaddlandmark"
								placeholder="Landmark"
								ng-model="userUpdateSbmtData.presentAddLandmarkModel" />
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 25%;">
					<div class="form-group">
						<label for="presentaddcountry">Country</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.presentaddcountry.$invalid) }">
							<select
								class="form-control input-sm"
								id="presentaddcountry"
								name="presentaddcountry"
								ng-model="userUpdateSbmtData.presentAddCountryModel"
								ng-options="country.id as country.name for country in userUpdateRESTData.contriesAr"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="presentaddstate">State</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.presentaddstate.$invalid) }">
							<select
								class="form-control input-sm"
								id="presentaddstate"
								name="presentaddstate"
								ng-model="userUpdateSbmtData.presentAddStateModel"
								ng-options="state.id as state.name for state in filterData(userUpdateRESTData.statesAr, 'countryid', userUpdateSbmtData.presentAddCountryModel)"
								ng-change="presentAddStateChange()"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="presentadddistrict">District</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.presentadddistrict.$invalid) }">
							<select
								class="form-control input-sm"
								id="presentadddistrict"
								name="presentadddistrict"
								ng-model="userUpdateSbmtData.presentAddDistrictModel"
								ng-options="district.id as district.name for district in filterData(userUpdateRESTData.districtsAr, 'stateid', userUpdateSbmtData.presentAddStateModel)"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="presentaddpincode">Pincode<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="number"
								class="form-control input-sm"
								id="presentaddpincode"
								name="presentaddpincode"
								placeholder="Ex: 5X0X0X"
								ng-model="userUpdateSbmtData.presentAddPincodeModel" />
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 25%;">
					<div class="form-group">
						<label for="permanentaddline1">Address Line1</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.permanentaddline1.$invalid) }">
							<textarea
								class="form-control input-sm max-width"
								id="permanentaddline1"
								name="permanentaddline1"
								placeholder="Address Line1"
								ng-model="userUpdateSbmtData.permanentAddLine1Model"
								ng-required="true">
							</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="permanentaddline2">Address Line2<em class="text-muted"> - Optional</em></label>
						<div>
							<textarea
								class="form-control input-sm max-width"
								id="permanentaddline2"
								name="permanentaddline2"
								placeholder="Address Line2"
								ng-model="userUpdateSbmtData.permanentAddLine2Model"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="permanentaddlandmark">Landmark<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="text"
								class="form-control input-sm"
								id="permanentaddlandmark"
								name="permanentaddlandmark"
								placeholder="Landmark"
								ng-model="userUpdateSbmtData.permanentAddLandmarkModel" />
						</div>
					</div>
				</div>
				<div class="table-cell" style="width: 25%;">
					<div class="form-group">
						<label for="permanentaddcountry">Country</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.permanentaddcountry.$invalid) }">
							<select
								class="form-control input-sm"
								id="permanentaddcountry"
								name="permanentaddcountry"
								ng-model="userUpdateSbmtData.permanentAddCountryModel"
								ng-options="country.id as country.name for country in userUpdateRESTData.contriesAr"
								ng-change="permanentAddCountryChange()"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="permanentaddstate">State</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.permanentaddstate.$invalid) }">
							<select
								class="form-control input-sm"
								id="permanentaddstate"
								name="permanentaddstate"
								ng-model="userUpdateSbmtData.permanentAddStateModel"
								ng-options="state.id as state.name for state in filterData(userUpdateRESTData.statesAr, 'countryid', userUpdateSbmtData.permanentAddCountryModel)"
								ng-change="permanentAddStateChange()"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="permanentadddistrict">District</label>
						<div ng-class="{ 'has-error': (userUpdateForm.$submitted && userUpdateForm.permanentadddistrict.$invalid) }">
							<select
								class="form-control input-sm"
								id="permanentadddistrict"
								name="permanentadddistrict"
								ng-model="userUpdateSbmtData.permanentAddDistrictModel"
								ng-options="district.id as district.name for district in filterData(userUpdateRESTData.districtsAr, 'stateid', userUpdateSbmtData.permanentAddStateModel)"
								ng-required="true">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="permanentaddpincode">Pincode<em class="text-muted"> - Optional</em></label>
						<div>
							<input
								type="number"
								class="form-control input-sm"
								id="permanentaddpincode"
								name="permanentaddpincode"
								placeholder="Ex: 5X0X0X"
								ng-model="userUpdateSbmtData.permanentAddPincodeModel" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
<div class="row margin-bottom">
	<div class="col-xs-12">
		<hr class="no-margin" />
	</div>
</div>
<div class="row margin-bottom">
	<div class="col-xs-12 text-center">
		<button type="submit" class="btn btn-primary btn-sm">Update</button>
		<button type="button" class="btn btn-default btn-sm" ng-click="reset()">Reset</button>
	</div>
</div>
</form>